@import api.server._
@import api.server.Commons._
@(code: Int)
@for(ques <- StudentApi.objective.filter(x => s"${x.stampy}".hashCode == code)){
<!DOCTYPE html>
	<html lang="en">
		<head>
				<!-- Required meta tags -->
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
			<title>Attempt Objective Exam</title>
				<!-- plugins:css -->
			<link rel="stylesheet" href="@routes.Assets.versioned("vendors/mdi/css/materialdesignicons.min.css")">
			<link rel="stylesheet" href="@routes.Assets.versioned("vendors/css/vendor.bundle.base.css")">
				<!-- endinject -->
				<!-- Plugin css for this page -->
				<!-- End plugin css for this page -->
				<!-- inject:css -->
				<!-- endinject -->
				<!-- Layout styles -->
			<link rel="stylesheet" href="@routes.Assets.versioned("css/style.css")">
				<!-- End layout styles -->
			<link rel="shortcut icon" href="@routes.Assets.versioned("img/favicon.png")" />
		</head>
		<body>
			<nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
				<div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
					<a class="navbar-brand brand-logo"><img src="@routes.Assets.versioned("img/logo.svg")" alt="logo" /></a>
					<a class="navbar-brand brand-logo-mini"><img src="@routes.Assets.versioned("img/logo-mini.svg")" alt="logo" /></a>
				</div>
				<div class="navbar-menu-wrapper d-flex align-items-stretch">
					<button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
						<span class="mdi mdi-menu"></span>
					</button>
					<ul class="navbar-nav navbar-nav-right">
						<li class="nav-item nav-logout d-none d-lg-block">
							<a class="nav-link" href="/account/logout">
								<i class="mdi mdi-logout"></i>
							</a>
						</li>
					</ul>
					<button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
						<span class="mdi mdi-menu"></span>
					</button>
				</div>
			</nav>
			<div class="container-fluid page-body-wrapper">
				<nav class="sidebar sidebar-offcanvas" id="sidebar">

				</nav>
				<div class="main-panel">
					<div class="content-wrapper align-content-xl-stretch list-group-horizontal-xl">
						<div class="container">
							<div class="row">
								<div class="col-lg-9 grid-margin stretch-card">
									<div class="card">
										<div class="card-body">
											<h4 class="card-title">@ques.name</h4>
											<div class="col-sm-auto">
												<iframe
												src="@{s"${SERVER}/${ques.ref}"}#toolbar=0&navpanes=0&scrollbar=0"
												height="500px"
												width="700px"
												></iframe>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-3 grid-margin stretch-card">
									<div class="card">
										<div class="card-body">
											<h4 class="card-title">Good Luck!!!</h4>
											<div class="col-sm-auto" style="overflow-y: scroll; height: 500px;">
												<form id="form" method="post" action="@StudentApi.SUBMIT_OBJ">
													<input type="text" name="stampy" value="@ques.stampy" hidden>
													<input type="text" name="user" value="@user.username" hidden>
												@for(x <- 1 to 100){
													<div class="form-group">
														<label>
															<span>Question @x</span>
															<select class="form-control form-control-sm mt-2" name="@x">
																<option class="text-md-center">A</option>
																<option class="text-md-center">B</option>
																<option class="text-md-center">C</option>
																<option class="text-md-center">D</option>
																<option class="text-md-center">E</option>
																<option class="text-md-center">F</option>
																<option class="text-md-center">G</option>
															</select>
														</label>
													</div>
												}
												</form>
											</div>
											<button type="submit" class="btn btn-inverse-success mt-3" form="form" id="submit-btn-obj">Submit Answers</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<script src="@routes.Assets.versioned("vendors/js/vendor.bundle.base.js")"></script>
				<!-- endinject -->
				<!-- Plugin js for this page -->
			<script src="@routes.Assets.versioned("vendors/chart.js/Chart.min.js")"></script>
				<!-- End plugin js for this page -->
				<!-- inject:js -->
			<script src="@routes.Assets.versioned("js/off-canvas.js")"></script>
			<script src="@routes.Assets.versioned("js/hoverable-collapse.js")"></script>
			<script src="@routes.Assets.versioned("js/misc.js")"></script>
				<!-- endinject -->
				<!-- Custom js for this page -->
			<script src="@routes.Assets.versioned("js/dashboard.js")"></script>
			<script src="@routes.Assets.versioned("js/socket.io.js")"></script>
			@*		<script src="@routes.Assets.versioned("js/socket.js")"></script>*@
			<script src="@routes.Assets.versioned("js/todolist.js")"></script>
			<script src="@routes.Assets.versioned("js/file-upload.js")"></script>
		</body>
	</html>
}
