@()
@*TODO: Implement messages UI*@
@*<a class="dropdown-item preview-item">*@
@*	<div class="preview-thumbnail">*@
@*		<img src="../../assets/images/faces/face2.jpg" alt="image" class="profile-pic">*@
@*	</div>*@
@*	<div class="preview-item-content d-flex align-items-start flex-column justify-content-center">*@
@*		<h6 class="preview-subject ellipsis mb-1 font-weight-normal">Cregh send you a message</h6>*@
@*		<p class="text-gray mb-0"> 15 Minutes ago </p>*@
@*	</div>*@
@*</a>*@
@*TODO: Work out a way to separate all the elements with divides without adding it to the end*@