@()
@*TODO: Implement UI Notifications*@
@*<a class="dropdown-item preview-item">*@
@*    <div class="preview-thumbnail">*@
@*        <div class="preview-icon bg-success">*@
@*            <i class="mdi mdi-calendar"></i>*@
@*        </div>*@
@*    </div>*@
@*    <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">*@
@*        <h6 class="preview-subject font-weight-normal mb-1">Event today</h6>*@
@*        <p class="text-gray ellipsis mb-0"> Just a reminder that you have an event today </p>*@
@*    </div>*@
@*</a>*@
@*TODO: Work out a way to separate all the elements with divides without adding it to the end*@
