@import api.server._
@import api.server.Commons._
@import models.Teacher
@()
@dashboard("Homework & Projects") {
	@*First row*@
	<div class="row">
		@*Homework*@
		<div class="col-lg-auto grid-margin stdetch-card">
			<div class="card">
				@*user, topic, class, file, subject*@
				<div class="card-body">
					<h4 class="card-title">Upload an Assignment</h4>
					<form class="forms-sample" action="@TeacherApi.UPLOAD_ASS" method="post" enctype="multipart/form-data">
						<div class="form-group">
							<input type="text" hidden name="user" value="@user.username">
							<label for="exampleFormControlSelect2">Subject</label>
							<select class="form-control" id="exampleFormControlSelect2" name="sub">
							@for(sub <- TeacherApi.subjects){
								<option>@sub</option>
							}
							</select>
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">Assignment Name</label>
							<input type="text" class="form-control" id="exampleInputUsername1" placeholder="Assignment Name" name="topic">
						</div>
						<div class="form-group">
							<label>Select File</label>
							<input type="file" name="file" class="file-upload-default">
							<div class="input-group col-xs-12">
								<input type="text" class="form-control file-upload-info" disabled="" placeholder="Select File">
								<span class="input-group-append">
									<button class="file-upload-browse btn btn-gradient-primary" type="button">Browse</button>
								</span>
							</div>
						</div>
						<div class="form-group">
							<label for="exampleFormControlSelect2">Class</label>
							<select class="form-control" id="exampleFormControlSelect2" name="class">
								<option>JSS1</option>
								<option>JSS2</option>
								<option>JSS3</option>
								<option>SS1</option>
								<option>SS2</option>
								<option>SS3</option>
							</select>
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">Max Obtainable Score</label>
							<input type="text" class="form-control" id="exampleInputUsername1" placeholder="Max Score" name="max_score">
						</div>
						<button type="submit" class="btn btn-gradient-primary mr-2">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</div>
}