@import api.server._
@import api.server.Commons._
@()(implicit flash: Flash)
<!DOCTYPE html>
<html lang="en">
	<head>
			<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>@NAME Login</title>
			<!-- plugins:css -->
		<link rel="stylesheet" href="@routes.Assets.versioned("vendors/mdi/css/materialdesignicons.min.css")">
		<link rel="stylesheet" href="@routes.Assets.versioned("vendors/css/vendor.bundle.base.css")">
			<!-- endinject -->
			<!-- Plugin css for this page -->
			<!-- End plugin css for this page -->
			<!-- inject:css -->
			<!-- endinject -->
			<!-- Layout styles -->
		<link rel="stylesheet" href="@routes.Assets.versioned("css/style.css")">
			<!-- End layout styles -->
		<link rel="shortcut icon" href="@routes.Assets.versioned("img/favicon.png")" />
	</head>
	<body>
		<div class="container-scroller">
			<div class="container-fluid page-body-wrapper full-page-wrapper">
				<div class="content-wrapper d-flex align-items-center auth">
					<div class="row flex-grow">
						<div class="col-lg-4 mx-auto">
							<div class="auth-form-light text-left p-5">
								<div class="brand-logo">
									<img src="@routes.Assets.versioned("img/logo.svg")" alt="scape-logo">
								</div>
								<h4>Welcome back!</h4>
								<h6 class="font-weight-light">Sign in to continue.</h6>
								<div class="alert alert-dismissible alert-secondary @flash.get("notice-type").getOrElse("")" @flash.get("showing").getOrElse("hidden") role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true" size="0.3px">x</span>
									</button>
									@flash.get("notice").getOrElse("")
								</div>
								<form class="pt-3" method="POST" action="/auth">
									<div class="form-group">
										<input type="text" class="form-control form-control-lg" id="user" placeholder="Username" name="user">
									</div>
									<div class="form-group">
										<input type="password" class="form-control form-control-lg" id="pass" placeholder="Password" name="pass">
									</div>
									<div class="mt-3">
										<button class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn" type="submit">SIGN IN</button>
									</div>
									<div class="my-2 d-flex justify-content-between align-items-center">
										<a href="/account/forgot" class="auth-link text-black">Forgot password?</a>
									</div>
									<div class="text-center mt-4 font-weight-light"> Don't have an account? <a href="/account/create" class="text-primary">Create</a>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
					<!-- content-wrapper ends -->
			</div>
				<!-- page-body-wrapper ends -->
		</div>
			<!-- container-scroller -->
			<!-- plugins:js -->
		<script src="@routes.Assets.versioned("vendors/js/vendor.bundle.base.js")"></script>
			<!-- endinject -->
			<!-- Plugin js for this page -->
			<!-- End plugin js for this page -->
			<!-- inject:js -->
		<script src="@routes.Assets.versioned("js/off-canvas.js")"></script>
		<script src="@routes.Assets.versioned("js/hoverable-collapse.js")"></script>
		<script src="@routes.Assets.versioned("js/misc.js")"></script>
			<!-- endinject -->
	</body>
</html>